.sign-up {
    display: flex;
    flex-direction: column;  
    width: 60%;
    margin :2rem auto;
    padding: 3rem;
    background-color: aquamarine;
    border-radius: 2rem;
    .title {
      margin: 10px 0;
    }
  }