.bot{
    transition: all 0.2s ease;
    // min-width: fit-content;
    min-height:fit-content;
    width: fit-content;
    display: flex;
    z-index: 2;
    justify-content: flex-end;
    text-align: right;
    bottom:10px;
    position:fixed;
    right: 10px;
    &-response{
        // border: 1px solid black; 
        border-radius: 10px;
        display: none;
    }
    &-div{
        min-width: fit-content;
        max-width: 40%;
        padding:1em;
        border-radius: 10px;
        display: none;
        background-color: white;
    }
    &-btn
    {
        width:80px;
        margin: 1.8rem;
    cursor:grab;

        -webkit-backdrop-filter: blur( 10px );
        i 
        {
            -webkit-box-shadow: 0 0 8px rgb(0,0,0);
                -moz-box-shadow: 0 0 8px rgb(0,0,0);
            padding: .6em;
            font-size: 2rem;;
            color:orangered;
            border-radius:50%;
            background-color: rgba(255, 255, 255, 0.719);
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }
    }
    &-text
    {
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-weight: 400;
        border-radius:10px;
        padding: .8em;
        text-align: center;
        width: 60%;
    }
}

.close-btn
{
    display: inline;
    border:none;
    margin:1rem;
    outline:none;
}