.bot{
    // min-width: fit-content;
    width: 40%;
    display: flex;
    justify-content: flex-end;
    text-align: right;
    bottom:10px;
    position:fixed;
    right: 10px;
    &-response{
        border: 1px solid black;
        border-radius: 10px;
        display: none;
    }
    &-div{
        min-width: fit-content;
        max-width: 40%;
        padding:1em;
        border-radius: 10px;
        display: none;
        background-color: white;
    }
    &-btn
    {
        width:80px;
        margin: 1.8rem;
        img 
        {
            padding: 1em;
            border-radius:50%;
            background-color: rgba(128, 241, 241, 0.699);
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }
    }
    &-text
    {
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-weight: 400;
        border-radius:10px;
        padding: .8em;
        text-align: center;
        width: 60%;
    }
}

.close-btn
{
    display: inline;
    border:none;
    margin:1rem;
    outline:none;
}