.sign-in
{
    display:flex;
    flex-direction: column;
    background-color:rgba(228, 138, 138, 0.623);
    border-radius: 30px;
    margin: 2rem;
    padding:40px;
    width:40%;
    .title
    {
        margin: 10px 0;
    }
    .buttons
    {
        display:flex;
        justify-content: space-between;
    }
}


