.card{
    margin: 2rem auto;
    padding: 1rem;
    background: rgba(255, 255, 255, 0.432);
    box-shadow: 0 4px 22px 0 rgba(31, 58, 18, 0.37);
    backdrop-filter: blur( 5.0px );
    -webkit-backdrop-filter: blur( 5.0px );
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 300px;
    width: 45%;
    align-items: center;
    position: relative;
    &-1{
        width: 45%;
        min-width: 350px;
        padding: 1em;
        .recipe-image{
            box-shadow: 0 3px 20px -6px #000;
            width: 80%;
            max-width: 300px;
            border-radius: 10px;
        }
        flex: 1;
    }
    &-2{
        min-width: 350px;
        width: 45%;
        flex-grow: 1;
        min-width: 40%;
        z-index: 9;
    }
    .expand-recipe{
        
            color: black;
            font-size: 1.3rem;
            text-decoration: none;
    
    }
    .summary{
        overflow:hidden;
        max-height: 12rem;
        -webkit-box-orient: vertical;
        display: block;
        display: -webkit-box;
        overflow: hidden !important;
        text-overflow: ellipsis;
        -webkit-line-clamp: 8;
        a
        {
            pointer-events: none;
            cursor: default;
            text-decoration: none;
            color: black;
        }
    }
    
    
    &-buttons{
        position: absolute;
        top:1rem;
        left:1rem;
        .fa-trash-alt
        {
            font-size: 1.2rem;
        }
        button{
            &:hover{
                transform: scale(1.2);
            }
            .small{
                font-size: 1.2rem;
                color:white;
            }
            .large{
                font-size: 1.5rem;
                color:rgba(219, 0, 0, 0.842);

            }
            text-align: left;
            border: none;
            background-color: transparent;
        }
    }
    @media only screen and (max-width: 1200px) {
    .card{
        width: 100%;
        .recipe-image{
            // min-width: 300px;
            width:80%;
        }
    }
}
}
@media screen and (max-width:1000px){
    .card{
        width:80%;
        &-1{
            width: 100%;
            .recipe-image{
                min-width: 250px;
                width: 100%;
            }
        }
    }
}
@media only screen and (max-width: 600px) {
    .card{
        margin: 1rem auto;
        width: 80%;
        justify-content: center;
        &-1{
            width: 100%;
            .recipe-image{
                min-width: 130px;
                width: 80%;
                margin:10px auto;
            }
            &-buttons{
                width: 80%;

                margin: auto;
            }
        }
    }
     }
@media only screen and (max-width:480px){
    .card{
        width: 60%;
        margin: 1rem auto;
    }
} 