
.paginationBtns {
  z-index: 5;
    width: 80%;
    height: 40px;
    margin: 1rem auto;
    list-style: none;
    display: flex;
    justify-content: center;
    font-weight: 600;
    
    a {
      padding: 10px;
      border: 1px solid black;
      margin: 8px;
      border-radius: 5px;
      color: #000000;
      cursor: pointer;
    }
    
    a:hover {
      color: black;
      -webkit-box-shadow: 0 0 3px rgb(0,0,0);
      -moz-box-shadow: 0 0 3px rgb(0,0,0);
      background: rgba(255, 255, 255, 0.473);
    }
    
  }
  .paginationActive a {
    color: black;
    -webkit-box-shadow: 0 0 3px rgb(0,0,0);
    -moz-box-shadow: 0 0 3px rgb(0,0,0);
    background: rgba(255, 255, 255, 0.473);
  }
  
  .paginationDisabled a {
    color: rgba(255, 255, 255, 0.719);
    background-color: rgba(34, 33, 33, 0.911);

  }