.profile{

    background-color: pink; 
    min-height: 80vh;
    // display: flex;
    margin: 1rem auto;
    &-favourites
    {
        h3{
            text-decoration: underline;
            text-transform: capitalize;
        }
        background-color: blue;
        margin-right: 2rem;
        margin: 1rem auto;
        .fav-items{
            display: flex;
            width: 60%;
            margin: 1rem auto;
            flex-direction: column;
            height: 70vh;
            overflow-y: scroll;
        }
    }

}