.profile-details
{
    display: flex;
    flex-direction: column;
    text-align: left !important;
    width: 100%;
    background-color: rgb(189, 45, 45);
    &-section
    {
        flex:1;
    }
}

