.floater-icon{
    z-index: -100;
    position: fixed;
    padding: 1em;
    margin: 1rem;;
    width: 5rem;
    opacity: .8;
}
//  selected icons
.icon1{
    width:calc(40px + 14vw);
    position: fixed;
    top:1rem;
    left:1rem;
}
.icon2{
    
    
    width:calc(40px + 14vw);
    position: fixed;
    top:1.4rem;
    right:1.3rem;
}
.icon3{
    
    
    width:calc(40px + 14vw);
    position: fixed;
    left:2rem;
    bottom:2rem;
}
.icon4{
    
    
    width:calc(40px + 14vw);
    position: fixed;
    bottom: 3rem;
    right:5rem;
}
.icon10{
    
    width:calc(40px + 14vw);
    
    position: fixed;
    bottom:.6rem;
    left: 40%;
}
.icon5{
    
    
    width:calc(40px + 14vw);
    position: fixed;
    bottom:.5rem
}
