.floater-icon{
    z-index: -100;
    position: fixed;
    width: 5rem;
    opacity: .8;
}
//  selected icons
.icon1{
    width:calc(30px + 12vw);
    position: fixed;
    top:5rem;
    left:1rem;
}
.icon2{
    
    
    width:calc(30px + 12vw);
    position: fixed;
    top:7rem;
    right:3rem;
}
.icon3{
    
    
    width:calc(30px + 12vw);
    position: fixed;
    left:2rem;
    bottom:2rem;
}
.icon4{
    
    
    width:calc(30px + 12vw);
    position: fixed;
    bottom: 3rem;
    right:5rem;
}
.icon10{
    
    width:calc(30px + 12vw);
    
    position: fixed;
    bottom:.6rem;
    left: 40%;
}
.icon5{
    
    
    width:calc(30px + 12vw);
    position: fixed;
    bottom:.5rem
}
