.floater-icon{
    z-index: -100;
    position: fixed;
    padding: 1em;
    margin: 1rem;;
    width: 5rem;
    opacity: .8;
}
//  selected icons
.icon1{
    width:13rem;
    position: fixed;
    top:10px;
    left:10px;
}
.icon2{
    
    
    width:13rem;
    position: fixed;
    top:20px;
    right:15px;
}
.icon3{
    
    
    width:13rem;
    position: fixed;
    left:30px;
    bottom:10px;
}
.icon4{
    
    
    width:13rem;
    position: fixed;
    bottom: 40px;
    right:100px
}
.icon10{
    
    width:13rem;
    
    position: fixed;
    bottom:10px;
    left: 40%;
}
.icon5{
    
    
    width:13rem;
    position: fixed;
    bottom:10px
}
