.home-page
{
    width: 85%;
    border-radius: 20px;
    margin: auto;
    min-height:100vh;
    z-index: 3;
    position: relative;
}
.recipe-cards
{
    display: flex;
    justify-content: space-around;
    background-color: magenta;
    flex-wrap: wrap;
}
