.home-page
{
    background: linear-gradient(to right top, rgba(236, 233, 19, 0.534), rgba(241, 121, 9, 0.589));
    width: 85%;
    border-radius: 20px;
    margin: auto;
    min-height:100vh;
    z-index: 3;
    position: relative;
}
.recipe-cards
{
    display: flex;
    justify-content: space-around;
    background-color: magenta;
    flex-wrap: wrap;
}
