.home-page
{    
    .welcome-header{
        text-align: center;
        margin:0px auto;
        font-size: 2rem;
        font-weight: 800;
    }
    position: relative;
    .color-picker{
        position: fixed;
        top:7rem;
        left: calc(8px + 3vw);
        display: flex;
        flex-direction: column;
        .color-secondary{
            background-color: var(--secondary);
        }
        .color-primary{
            background-color: var(--primary);
        }
        div{
            margin: 1rem;;
            width:40px;
            border-radius: 5px;     
            -webkit-box-shadow: 0 2px 8px rgb(0,0,0);
            -moz-box-shadow: 0 2px 8px rgb(0,0,0);
            input{
                width:15px;
                border:none;
                margin: .3rem;
                outline: none;
            }

        }
    }
    width: 85%;
    border-radius: 20px;
    margin: auto;
    min-height:100vh;
    z-index: 3;
    position: relative;
    .recipe-cards
    {
        display: flex;
        margin-top: 5rem;;
        justify-content: space-around;
        flex-direction: row;
        flex-wrap: wrap;
    }
}

@media only screen and (max-width: 600px) {
.home-page{
    width: 100%;
}
}