.recipePage{
    width:90%;
    margin: 1rem auto;
    border-radius: 15px;
    position: relative;
    background: rgba(255, 255, 255, 0.527);
    box-shadow: 0 4px 22px 0 rgba(31, 58, 18, 0.37);
    backdrop-filter: blur( 5.0px );
    -webkit-backdrop-filter: blur( 5.0px );
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    .back-btn{
        text-align: left;
        position: absolute;
        top:1rem;
        left:1rem;
        font-size: 2rem;
        a{
            color:black;
        }
    }
    .headerDiv{
        h1{
            margin-top: 1.3em;
            font-size: 2.3rem;
            text-decoration: underline;
        }
        img{
            width: 20%;
            min-width: 200px;
            border-radius: 20px;
            transition: all .3s ease;
            &:hover{
            border: 1px solid rgba(255, 255, 255, 0.18);
            box-shadow: 0 4px 22px 0 rgba(31, 58, 18, 0.37);
                width:25%;

            }
        }
    }
    h3{
        text-decoration: underline;
        margin: 1rem auto;
    }
    .summary{
        padding: 1.5em;
        text-align: left;
        font-size: 1.2rem;
        a
        {
            pointer-events: none;
            cursor: default;
            text-decoration: none;
            color: black;
        }
    }
    .recipe{
        text-align: left;
        padding: 2em;
        .steps{
            i{
                padding:0 10px 0 10px;
            }
            span{
                display: inline-block;
                background-color: rgba(7, 131, 100, 0.911);
                padding:.5em;
                color:white;
                margin: .2em;
                border-radius: 10px;
            transition: all .3s ease;

                &:hover{
                    box-shadow: 0 2px 12px 0 rgba(24, 54, 11, 0.521);
                    }
            }
            p{
                width: 70%;
                padding:0 1rem 0 1rem;
            }
            hr{
                margin:1rem auto;
                padding: .1px;
                background-color: rgba(15, 117, 117, 0.479);
                border: none;
                outline:none;
            }
        }
    }
    .setup-svg{
        z-index: 10;
    }
}

@media screen and (max-width:1000px){
    .recipePage{
        .headerDiv{
            margin-top: 1.6em;
            h1{
            font-size: 1.6rem !important;
        }
    }
    }
}