// slider-intro effects
.intro{
  img{
    width: 14rem;;
  }
  .star-repo{
    background: rgba(255, 255, 255, 0.733);
    padding: 1em;
    margin: 2rem auto;
    width:40%;
    border-radius: 10px;
    a{
      font-size: 1.4rem;
      i{
        font-size: 1.4rem;
        color: 	#FFD700;
        text-decoration: underline;
      }
    }
    transform: rotate(45deg);
    animation: breathing 4s infinite 
  }
  .slider-intro {
    width: 80%;
    height:70%;
    padding: 2em;;
    margin:.5rem auto;
    text-align: center;
    overflow: hidden;
  }
  
  .slides-intro {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    
  }
  .slides-intro::-webkit-scrollbar {
    width: 1rem;
    height:6px;
  }
  .slides-intro::-webkit-scrollbar-thumb {
    border-radius: 10px;
    
    background: rgba(255, 255, 255, 0.473);
    -webkit-backdrop-filter: blur( 3px );
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.596);
  }
  .slides-intro::-webkit-scrollbar-track {
    background: transparent
  }
  .slides-intro > div {
    //   using this property to prevent the scroll bar from being in the middle
    scroll-snap-align: start;
    flex-shrink: 0;
    width:95%;
    margin: 2rem;
    padding: 1.4rem;
    border-radius: 10px;;
    background: rgba(255, 255, 255, 0.473);
    -webkit-backdrop-filter: blur( 3px );
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.596);
    border-radius: 10px;
    transform-origin: center center;
    transition: transform 0.5s;
    position: relative;
    justify-content: center;
    align-items: center;
    h2{
      font-size: 1.5rem;
      font-weight: 800;
      padding: 1rem;
    }
    .keywords{
      margin: 1rem;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly;
      
      span{
        box-shadow: 0 2px 10px 0 rgba(3, 3, 3, 0.37);
        
        -webkit-box-shadow: 0 2px 10px 0 rgba(3, 3, 3, 0.37);
        -moz-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.37);
        background-color: white;
        margin:1rem;
        padding:.6em;
        border-radius:10px;
        transition: all .8s ease-in-out;
      }
      span:hover{
        transform: scale(1.15);
      }
      p{
        font-size: 1.1rem;
        font-weight: 600;
        margin: .5rem auto;
        padding: .5em;
      }
    }
    .developer-keywords{
      span{
        font-size: 1rem;
        background-color:rgba(255, 255, 255, 0.747);
      }
      span:hover{
          color:white;
          background-color: black;
      }
    }
  }
  
  .ri-youtube-fill{
    color:red;
    text-decoration: none;
    
  }
  .slider-intro{
    .tags{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      font-size: 1.3rem;
    }
    a{
      text-decoration: none;
      color:black;
      padding: .6em;
      i{
        display: inline-flex;
        padding:.6em;
        background: rgba(255, 255, 255, 0.473);
        box-shadow: 0 2px 10px 0 rgba(31, 58, 18, 0.37);
        backdrop-filter: blur( 5.0px );
        -webkit-backdrop-filter: blur( 3px );
        border-radius: 10px;
        border: 1px solid rgba(255, 255, 255, 0.596);
        text-decoration: none;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        margin:1rem;
        position: relative;
      }
    }
  }
  .slider-intro > a:active {
    top: 10px;
  }
}
  
  @media screen and (max-width:800px){
    .searchPage{

    }
    .slider-intro{
      width:80%;
      .tags{
        a{
          font-size: 1.6rem;
        }
      }
    }  
  }
  
  @media screen and (max-width:1100px){
    .slider-intro{
    width:70%;
    .tags{
      a{
        font-size: 1.8rem;
      }
    }
  }  
}
@keyframes breathing {
  0% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }

  25% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }

  60% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }

  100% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }
}
