
.navbar
{
    position:fixed;
    top:0px;
    z-index: 10;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    -webkit-box-shadow: 0 0 8px rgb(0,0,0);
    -moz-box-shadow: 0 0 8px rgb(0,0,0);
    backdrop-filter: blur( 8px );
    background:rgba(255, 255, 255, 0.226);
    &-links{
        margin-top:2rem;
        // margin-right: 2rem;
        text-decoration: none;
        color: white;
        &-link
        {
            border: none;
            outline: none;
            padding: 10px;
            font-size: 2rem;   
            background-color: transparent;
            cursor: pointer;
        }
        &-link:hover
        {
            scale: 1.2;
        }
    }
    &-header{
        &-logo{
            width:10rem;
        }
    }
}
.header
{
    font-size: 1.5rem;
    margin-left:10px;
}

@media only screen and (max-width: 500px) {
    .navbar{
        width: 100%;
        &-links{
            display: none;  
        }
    }
}