.navbar
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgba(31, 73, 59, 0.473);
    &-links{
        margin-top:2rem;
        margin-right: 2rem;
        &-link
        {
            border: none;
            outline: none;
            padding: 10px;
            text-decoration: none;
            color: white;
            font-size: 2rem;   
            background-color: transparent;
            cursor: pointer;
        }
        &-link:hover
        {
            scale: 1.2;
        }
    }
    &-header{
        &-logo{
            width:10rem;
        }
    }
}
.header
{
    font-size: 1.5rem;
    margin-left:10px;
}