.blog-card{
    background: rgba(255, 255, 255, 0.329);
    box-shadow: 0 4px 22px 0 rgba(31, 58, 18, 0.37);
    backdrop-filter: blur( 5.0px );
    -webkit-backdrop-filter: blur( 5.0px );
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    width:80%;
    margin: 1rem auto;
    border-radius: 20px;
    transition: all 1s ease;
    .blog-author{
        font-weight: 400;
        font-size: 1rem;
        color:rgb(49, 45, 45);
        text-align: right;
        margin:1rem;
    }
    .blog-content{
        width: 90%;
        white-space: pre-wrap;
        text-align: left;
        padding:1em;
        font-weight: 600;
        .blog-title{
            font-size: 1.4rem;;
            font-weight: 600;
            padding: .2em;
            overflow-x:hidden;
            width:90%;
            margin: 1rem auto;
        }
        &-l{
            width:100%;
            padding-top:1em;    
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            &-img{
                flex:0.4;
                transition: all .3s ease-in-out;
                .no-imagediv{
                    background-color: rgba(255, 255, 255, 0.658);
                    min-height: 10rem;
                    border-radius: 10px;
                    padding:1em;
                    text-align: justify;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    p >i{
                        color:rgba(63, 49, 49, 0.397);
                        font-size:9rem;
                    }
                }
                img{
                    width:100%;
                    min-height: 50%;
                    border: 1px solid black;
                    border-radius: 10px;
                transition: all .3s ease-in-out;

                    &:hover{
                        transform: scale(1.1);
                        box-shadow: 0 4px 22px 0 rgba(0, 0, 0, 0.37);
                    }
                }
            }
            &-header{
                padding-left: 1em;
                margin-left: 1em;
                flex:0.6;
                text-align: left;
                .blog-author{
                    a{
                        color: black;
                        span{
                            text-decoration: underline;
                            color: black;
                        }
                    }
                    a:hover{
                        font-weight: bold;
                        transform: scale(1.1);
                    }

                }
            }

        }
        &-r{
            font-size: 1.1rem;
            width:80%;
            margin:.2rem auto;
            transition: all 1s ease;
        }
    }
    .likes_by_opener{
        color: rgba(48, 116, 48, 0.719);
        &:hover{
            animation: spin 1s ease;
        }
    }
    .likes_by_displayer{
        display: none;
        .close-btn{
            i{
                color: rgba(201, 10, 10, 0.685);
            }
            
        }
        i:hover{
            transform: scale(1.1) !important;
        }
        background-color: white;
        position: absolute;

        right:4rem;
        bottom: 10px;
        box-shadow: 0 2px 8px 0 rgba(18, 19, 18, 0.37);
        border-radius: 5px;
        overflow-y: scroll;
        padding: .4em;
        height: 5rem;
        &::-webkit-scrollbar {
            width: 5px;
            height:6px;
        }
        &::-webkit-scrollbar-thumb {
            border-radius: 10px;
            background: rgba(0, 0, 0, 0.473);
            -webkit-backdrop-filter: blur( 3px );
            border-radius: 10px;
            border: 1px solid rgba(255, 252, 252, 0.596);
          }
         &::-webkit-scrollbar-track {
            background: transparent
          }
        a{
            font-size: 1.3rem;
            color:black !important;
            text-decoration: none;
        }
        i{
            color: rgb(52, 114, 231);
        }
    }

    .close-btn{
        text-align: right;
    }
    .read-more{
        color:rgb(255, 253, 253);
    }
    .blog-reactions{
        user-select: none;
            cursor: pointer;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        font-size: 1.3rem;
        padding:1rem;
        margin-left: 1rem ;
        color:rgba(48, 47, 47, 0.726);
    }
    .blog-reactions-close{
        text-align: right;
        font-weight: 600;
        font-size: 1.3rem;
    }
    .blog-comment-input{
        display: none;
        width: 80%;
        .blog-comment-form{
            width: 80%;
            margin: auto;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            align-content: center;
        }
        textarea{
            width:80%;
        }
        textarea , button{
            background-color: rgba(255, 255, 255, 0.61);
            margin: 1rem;
            text-align: center;
            color:black;
            border-radius: 10px;
            box-shadow: 0 2px 8px 0 rgba(18, 19, 18, 0.37);
            padding: .5em;
            border:none;
            outline:none;
            resize: none;
        };
    }
    .comments-box{
        max-height: 30vh;
        overflow-y: scroll;
        -webkit-box-shadow: 0 0 2px rgb(0,0,0);
        -moz-box-shadow: 0 0 2px rgb(0,0,0);
        background: rgba(255, 255, 255, 0.473);
        border-radius: 10px;
        margin: 1rem;
        white-space: pre-wrap;
        overflow-x: hidden;

        &::-webkit-scrollbar {
            width: .4rem;
            height:6px;
            }
            &::-webkit-scrollbar-thumb {
            border-radius: 10px;

            background: rgba(29, 28, 28, 0.473);
            -webkit-backdrop-filter: blur( 3px );
            border-radius: 10px;
            border: 1px solid rgba(255, 255, 255, 0.596);
            }
            &::-webkit-scrollbar-track {
            background: transparent
            }
        .comment-content{
            text-align: justify;
            font-size: .9rem;
            padding: .4em;
            background-color: white;
            margin:.6rem;
            border-radius:10px;
          
            a{
                text-align: right;
                color:black !important;
                font-weight: 600;
            }
        }
    }
    .liked{
        transition: all 1s linear;
        transform: scale(1.2);
        color: rgb(52, 114, 231);
        cursor: no-drop;
        animation: liked 1s ;
    }
}
@keyframes liked {
    0%{
        transform: scale(1);
    }
    20%{
        transform: scale(1.2);
    }
    40%{
        transform: scale(1.46);
    }
    50%{
        transform: scale(2);
    }
    70%{
        transform: scale(1.46);
    }
    90%{
        transform: scale(1.2);
    }
    100%{
        transform: scale(1);
    }
}
@keyframes spin {
    30%{
        transform: skewY(10deg) scale(1.2);
    }
    70%{
        transform: skewY(-10deg) scale(1.2)
    }
    
}

@media only screen and (max-width:800px) {
    .blog-card{
        width: 100%;
    max-width: 100vw;;
    backdrop-filter: blur( 2.0px );
    }
    .blog-comment-input{
        width: 100%;
        max-width: 100vw;;
    }
    .blog-comment-form{
        display: flex;
        // width: 100%;
        flex-direction: column  !important;
    textarea , button{
        display: block;
    width: 100% !important;
    }
    }
}