.bot{
    display: flex;
    justify-content: flex-end;
    text-align: right;
    margin-top: 80%;
    &-btn
    {
        width:80px;
        margin: 1.8rem;
        img 
        {
            padding: 1em;
            border-radius:50%;
            background-color: rgba(128, 241, 241, 0.699);
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }
    }
    &-text
    {
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-weight: 400;
        border-radius:10px;
        padding: 1em;
        text-align: center;
        width: 60%;
    }
}

.close-btn
{
    display: inline;
    border:none;
    outline:none;
    border-radius:50%;
            background-color: rgba(128, 241, 241, 0.699);
}