.chef
{
    background-color: pink;
    display: flex;

    &-btn 
    {
        border: none;
        height:65px;
        outline:none;
        border-radius: 50%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        &-img
        {
            border-radius: 50%;
        }
    }
    &-form
    {
        display: none;
    }
}

