.app {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  /* background-color:aquamarine; */
  width: 100%;
  height:90%;
  margin: auto;
  min-height: 100vh;
  min-width: 100vw;
}

html{
  height:100;
  min-height: 100vh;
}