:root {
  --primary: #b5f3f7;
  --secondary: #4cadee;
}
body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background:linear-gradient(to left,var(--primary),var(--secondary));
  margin:auto;
  width:100%;
  width:100vw;
  height:100%
}
*{
  margin:0px;
  padding:0px;
}
code {
  /* font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace; */
}
/* :root{
    font-size: calc(14px+ 5vw) ;
} */

/* @media only screen and (max-width:800px)
{
} */