body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background:linear-gradient(to left,rgba(93, 216, 56, 0.705),rgba(178, 223, 160, 0.76));
  margin:auto;
  width:100%;
  height:100%
}
*{
  margin:0px;
  padding:0px;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media only screen and (max-width:800px)
{
  
  :root{
      font-size: 62.5% ;
  }
}